.facebook{
    width: 16px;
    height: 16px;
    position: relative;
    right: 26px;
}
body{

}

.container{
    width: 100%;
}

.illustration{
    width: 95%;
    margin-left: 10px;
}

.text{
    text-align: center;
}

.twitter{
    width: 30px;
    height: 30px;
    position: relative;
    right: 34px;
    top: 1px;
}

.instagram{
    width: 18px;
    height: 18px;
    position: relative;
    right: 28px;
}

ul{
    display: flex;
    margin-left: 50%;
    list-style-type: none;
}

.footer-text{
    margin-left: 49%;
    color: grey;
}

.bottom-footer-text{
    margin-left: 45%;
    font-size: 0.9rem;
}
.text img{
    margin: 80px auto 80px auto;
    width: 150px;
}

svg{
    width: 30px;
    height: 30px;
}

svg:hover{
    border-radius: 50%;
    background-color:blue;
}

.twitt{
    margin-left: 10px;
}

.twitt:hover{
    border-radius: 50%;
    background-color:blue;
}